body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 26px;
	color: #000000;
}
.site-container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffffff;
	box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, .2);
}
a{
	text-decoration: none;
}

.list-navigation,
.adv-list,
.adv-about-city-list,
.footer-social-list{
	list-style: none;
	margin: 0;
	padding: 0;	
}
.list-navigation{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 56px;
	background-color: #ffffff;
}
.list-navigation li{
	flex-basis: 20%;
	display: flex;
	justify-content: center;
}
.list-navigation li:nth-child(2){
	margin-right: 20%;
}
.list-navigation a{
	color: black;
	font-weight: bold;
}
.list-navigation a:hover{
	color: #81b3d2;
}
.list-navigation a:active{
	color: #000000;
    opacity: .3;
}

.main-image-section{
	min-height: 773px;
	background-image: url("../img/Welcome.png") ,url("../img/bg-main.jpg");
	background-repeat: no-repeat;
	background-position: center 76px, center;
	background-size: 458px 352px,cover;
	display: flex;
	flex-direction: column; 
}
.intro{
	background-color: #ffffff;
	min-height: 216px;
	margin-top:auto;
	text-align: center;
	vertical-align: top;
}
.intro-about{
	font-size: 21px;
	line-height: 26px;
	padding-top:40px;
	padding-bottom: 8px;
}
.intro-advantages,
.adv-in-line-section .adv-content,
.search-content{
	color: #333333;
}
.adv .adv-list{
	display: flex;
	flex-wrap: wrap;
}
.adv-with-pict{
	display: flex;
	flex-basis: 100%;
	align-items: center;
	text-align: center;
	color: #ffffff;
}
.adv-with-pict:first-child{
	order: -2;
}
.adv-with-pict .adv-head-section{
	min-height: 256px;
	background-color: #81b3d2;
	flex-grow: 1;	
}
.adv-with-pict .adv-img-wrapper{
	height: 256px;
	flex-shrink: 1;	
	width: 800px;
	overflow: hidden;
	object-fit: cover;
}
.adv-img-wrapper img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.adv-head{
	font-size: 21px;
	line-height: 21px;
	margin: 0;
	padding-top:46px;
	margin-bottom:23px;	
}
.adv-numb{
	line-height: 21px;
	padding: 0;
	margin: 0;
}
.adv-content{
	line-height: 21px;
	padding: 0;
	margin: 0;
	margin-top: 23px;
}
.adv-in-line-section{
	background-color: #eeeeee;
	min-height: 256px;
}
.adv-without-pict{
	flex-basis: 33.333333%;
	text-align: center;
}
.adv-about-city{
	flex-basis: 100%;
	order: -1;
}
.adv-about-city-list{
	display: flex;
}
.adv-el-wrapper{
	background-color: white;
	flex-basis: 33.333333%;
	text-align: center;				
}
.search{
	min-height: 291px;
}
.search-content-wrapper{
	width: 570px;
	margin: 0 auto;
	text-align: center;
}
.search-head{
	font-size: 30px;
	line-height: 36px;
	padding: 0;
	padding-top: 54px;
	margin: 0;
}
.search-content{
	line-height: 25px;
	padding: 0;
	padding-top: 32px;
	margin: 0;
	margin-bottom:52px;
}
.search-button{
	font-size: 21px;
	font-weight: bold;
	color: white;
	width: 568px;
	height: 86px;
	background-color: #766357;
}
.search-button:hover{
	background-color: #604e43;
}
.search-button:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #503e33;
}

.search-pop-up-container{
	background-color: white;
	width: 568px;
	height: 395px;
	display: none;
}
.pop-up-form input[type="date"]{
	width: 346px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
}
.pop-up-form input[type="date"]:hover,
.pop-up-adult-counter input[type="text"]:hover,
.pop-up-children-counter input[type="text"]:hover{
	background-color: #ebebeb;
}
.pop-up-form input[type="date"]:focus,
.pop-up-adult-counter input[type="text"]:focus,
.pop-up-children-counter input[type="text"]:focus{
	background-color: white;
	outline: 2px solid #e5e5e5;
}

.plus-minus-button,
.pop-up-adult-counter input[type="text"],
.pop-up-children-counter input[type="text"]{
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	outline: none;
	font-weight: bold;
}

/*.plus-minus-button{
	color: #a9a9a9;
	font-size: 20px;
}
.plus-minus-button:hover{
	color: black;
}
.plus-minus-button:active{
	color: #81b3d2;
}*/

.pop-up-submit-button input[type="submit"]{
	font-size: 21px;
	line-height: 26px;
	color: white;	
	width: 458px;
	height: 58px;
	background-color: #81b3d2;
}
.pop-up-submit-button input[type="submit"]:hover{
	background-color: #669ec0;
}
.pop-up-submit-button input[type="submit"]:active{
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}
.map-section{
	background-color: red;
}
footer{
	display: flex;
	align-items: center;
	background-color: #ffffff;
	text-align: center;
}
footer>div{
	flex-basis: 33.3333%;
}
.footer-hashtag a{
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	color: black;
}
.footer-hashtag a:hover{
	color: #81b3d2;
}
.footer-hashtag a:active{
	color: #bdbbbc;
}


/* Hotel*/
.filter-submit-button input[type="submit"]{
	color: white;
	width: 137px;
	height: 36px;
	outline: 2px solid white;
	border: none;
	background-color: transparent;
}
.filter-submit-button input[type="submit"]:hover,
.filter-submit-button input[type="submit"]:focus{
	color: black;
	background-color: white;
}
.finding-sorting a{
	font-size: 12px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.3);
	border-bottom: 1px dotted #81b3d2;
}
.finding-sorting a:visited{
	color: #81b3d2;
	border-bottom: none;
}
.finding-sorting a:hover{
	color: #81b3d2;
}
.finding-sorting a:active{
	color: black;
	border-bottom: none;
}
.catalog-name-head{
	font-size: 21px;
	font-weight: bold;
	color: black;
}
.catalog-name-head:hover{
	color: #81b3d2;
}
.catalog-name-head:active{
	color: rgba(255, 255, 255, 0.3);
}
.catalog-about-button{
	color: white;
	width: 110px;
	height: 27px;
	background-color: #81b3d2;
}
.catalog-about-button a{
	color: white;	
}
.catalog-about-button:hover{
	background-color: #669ec0;

}